@model IEnumerable<Partner>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Partner List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Create New Partner
            </a>
        </div>
    </div>

    <br /> <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered  table-striped text-center" id="example">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>
                        Organization Name
                    </th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Category</th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                @{ var count = 0;}
                @foreach (var obj in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@obj.OrgName</td>
                        <td>@obj.Email</td>
                        <td>@obj.Phone</td>
                        <td>@obj.Address</td>
                        <td>@obj.GetDonateCategory.Name</td>

                        <td width="30%">
                            <div class="w-75 btn-group" role="group">
                                <a asp-route-Id="@obj.Id" asp-action="Upsert" class="btn btn-primary mx-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a asp-route-Id="@obj.Id" asp-action="Detail" class="btn btn-info mx-2">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a onclick="callAjax('@obj.OrgName')"  class="btn btn-info mx-2">
                                     <i class="fas fa-donate"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
           }
            </tbody>
        </table> }
    else
    {
        <p> No Donate Category exit</p>}

</div>
<div id="info">

</div>

<table id="demo">
    <thead>
        <tr>
            <th></th>
            <th>Account Name</th>
            <th>Account Email</th>
            <th>Phone</th>
            <th>Amount</th>
            <th>Donate date</th>
        </tr>
    </thead>
</table>

@section Scripts{



    <script>
    $(document).ready(function () {
        $('#example').DataTable();
        $('#demo').hide();
    });

        //call ajax
        function callAjax(partnerName) {
            getPartner(partnerName);
            loadTable(partnerName);
        }

        function getPartner(partnerName) {
            axios
                .get("http://localhost:29948/api/partner/" + partnerName)
                .then(response => {
                    this.data = response.data;
                    console.log(response);
                    if (response.status != 200) {
                        $('#info').empty();
                        $('#info').append('<div>No data for this Partner</div>')
                    }
                    else {
                        var inf = '<div class="container emp-profile"><div class="row"><div class="col-md-4"><div class="profile-img"><img src="@Url.Content("~/images/LogoPartner/")' + this.data.Partner.Logo + '" alt="" /></div></div><div class="col-md-6"><div class="profile-head"><h5>' + this.data.Partner.OrgName + ' </h5><h6>' + this.data.Partner.Email + '</h6><h6>Total Money:' + this.data.TotalMoney + '$</h6><h6>Current Money:' + this.data.CurrentMoney + '$</h6></div> </div></div ></div >'
                        $('#info').empty();
                        $('#info').append(inf);
                    }
                })
                .catch(
                    $('#info').empty()
                )
                ;
        }
        function loadTable(partnerName) {
            $('#demo').show();
            var t = $('#demo').DataTable({

                "ajax": {
                    "url": "http://localhost:29948/api/donate/" + partnerName,
                    "dataSrc": ""
                },
                "columns": [
                    { "data": null },
                    { "data": "Donate.GetAccount.FullName" },
                    { "data": "Donate.GetAccount.Email" },
                    { "data": "Donate.GetAccount.Phone" },
                    { "data": "Donate.Amount" },
                    { "data": "Donate.CreatedAt" },
                ],

                stateSave: true,
                "bDestroy": true,
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        }
    </script>

}




