@model IEnumerable<NGOWebApp.Models.ViewModels.ProgramDonateVM>
@{
    ViewData["Title"] = "Home Page";
}
@await Html.PartialAsync("~/Areas/User/Views/Shared/_Slide.cshtml")

<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img" data-parallax="scroll" data-image-src="../../images/img/about.jpg"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-header">
                    <p>Learn About Us</p>
                    <h2>Worldwide non-profit charity organization</h2>
                </div>
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-3">Vision</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-content-1" class="container tab-pane active">
                            The pain itself is love, the main storage system. The life of the kids is ugly. It's in the bureau's housing, or the mass is flattering. As the arches take the course. There is no gate to the man tomorrow, so that he may invest his laughter. No need to wish the mourning was great. Phasellus et felis sed purus tristique dignissim. Morbi sit amet leo at purus accumsan pellentesque. But live yeast or protein flats. The pain itself is love, the main storage system.
                        </div>
                        <div id="tab-content-2" class="container tab-pane fade">
                            But start, as the great vehicles of the weekend, the disgraceful sauce of the just, lay down the ugly mass in the mi. Proin to decorate at the mass at the warm Now the bananas, but only the arrows to decorate. For ever the torturer needs to be scared, the arrows are now the members of the EU. Sometimes the hunger and the unbelievable hunger in front of him, especially in the throat. Praesent bibendum sapien sed purus molestie malesuada. The pain itself is love, the main storage system.
                        </div>
                        <div id="tab-content-3" class="container tab-pane fade">
                            Suspendisse at hendrerit enim. Sometimes the hunger and the unbelievable hunger in front of him, especially in the throat. But the sauce is always ugly or easy. Now or the throat of the orcs. Mauris ut mauris Zen, it becomes nothing but at, how poisonous. It's the price of poverty that is important for the ends. The pain was at the annoyance, the vehicle needs to stop, the consequences were unconventional.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>What We Do?</p>
            <h2>We believe that we can save more lifes with you</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-diet"></i>
                    </div>
                    <div class="service-text">
                        <h3>Healthy Food</h3>
                        <p>Healthy Food Guide makes it easy and enjoyable to eat well and feel great. Thousands of healthy recipes, expert nutrition advice you can trust</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-water"></i>
                    </div>
                    <div class="service-text">
                        <h3>Pure Water</h3>
                        <p>Purified water is water that has been mechanically filtered or processed to remove impurities and make it suitable for use. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-healthcare"></i>
                    </div>
                    <div class="service-text">
                        <h3>Health Care</h3>
                        <p>Healthcare is the maintenance or improvement of health via the prevention, diagnosis, treatment</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-education"></i>
                    </div>
                    <div class="service-text">
                        <h3>Primary Education</h3>
                        <p>The Primary Education Program trains teachers with a heart of love and respect for people</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-home"></i>
                    </div>
                    <div class="service-text">
                        <h3>Residence Facilities</h3>
                        <p>The Residence features many facilities and amenities to help make your stay on campus enjoyable</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-social-care"></i>
                    </div>
                    <div class="service-text">
                        <h3>Social Care</h3>
                        <p>Care services, equipment and care homes. Includes home adaptations, help at home from a paid carer, staying safe and housing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Facts Start -->
<div class="facts" data-parallax="scroll" data-image-src="../../images/img/facts.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-home"></i>
                    <div class="facts-text" style="margin-top: 25px;">
                        <!--<h3 class="facts-plus" data-toggle="counter-up">150</h3>-->
                        <p>Countries</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-charity"></i>
                    <div class="facts-text" style="margin-top: 25px;">
                        <!--<h3 class="facts-plus" data-toggle="counter-up">400</h3>-->
                        <p>Volunteers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-kindness"></i>
                    <div class="facts-text" style="margin-top: 25px;">
                        <!--<h3 class="facts-dollar" data-toggle="counter-up">10000</h3>-->
                        <p>Our Goal</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-donation"></i>
                    <div class="facts-text" style="margin-top: 25px;">
                        <!--<h3 class="facts-dollar" data-toggle="counter-up">5000</h3>-->
                        <p>Raised</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->
<!-- Causes Start -->
<div class="causes">
    <div class="container">
        <div class="section-header text-center">
            <p>Upcoming Campaign</p>
            <h2>Be ready for our upcoming charity Campaign</h2>
        </div>
        <div class="owl-carousel causes-carousel">
            @foreach (var item in Model)
            {
                <div class="causes-item">
                    <div class="causes-img" style="height:190px">
                        <img src="~/@item.Programs.Photo" alt="Image">
                    </div>
                    <div class="causes-progress">
                        <div class="progress">
                            @{ var a =(decimal)( @item.SumDonate / @item.Programs.ExpectedAmount);}
                            <div class="progress-bar" role="progressbar" aria-valuenow="@Math.Round(a*100,0)" aria-valuemin="0" aria-valuemax="100">
                                <span>@Math.Round((decimal)(item.SumDonate / item.Programs.ExpectedAmount) * 100, 0)</span>
                            </div>
                        </div>
                        <div class="progress-text">
                            <p><strong> @item.SumDonate / @item.Programs.ExpectedAmount $</strong></p>

                        </div>
                    </div>
                    <div class="causes-text">
                        <div style="height:180px">
                            @if (item.Programs.ShortContent.Length > 120)
                            {
                                <h4>@item.Programs.ShortContent.Substring(0, 120) ...</h4>
                            }
                            else
                            {
                                <h4>@item.Programs.ShortContent</h4>
                            }

                        </div>
                        <div class="row" style="height:40px">
                            <div class="col-sm-3"><img src="~/images/LogoPartner/@item.Programs.GetPartner.Logo" /></div>
                            <div class="col-sm-6" style="color:mediumaquamarine">@item.Programs.GetPartner.OrgName</div>
                            <div class="col-sm-3 text-danger" style="font-size:15px">@item.DateDiff day left</div>
                        </div>

                    </div>
                    <div class="causes-btn" style="height:50px">
                        <a class="btn btn-custom" asp-action="Details" asp-controller="Event" asp-route-Id="@item.Programs.Id">Learn More</a>
                        <a class="btn btn-custom" asp-area="User" asp-controller="Donate" asp-action="DonateToProgram" asp-route-programId="@item.Programs.Id">Donate Now</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<br/>
<!-- Causes End -->
<!-- Donate Start -->
<div class="donate" data-parallax="scroll" data-image-src="../../images/img/donate.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="donate-content">
                    <div class="section-header">
                        <p>Donate Now</p>
                        <h2>Let's donate to needy people for better lives</h2>
                    </div>
                    <div class="donate-text">
                        <p>
                            The pain itself is a lot of pain. My price does not change. It is not easy to wish to decorate the classroom. Some fear the torturer, the author of this pregnant, cartoon who I'm not the biggest players. Aenean convallis porttitor. But sometimes the lake is not flattering.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                
            </div>
        </div>
    </div>
</div>
<!-- Donate End -->

