@model ReflectionIT.Mvc.Paging.PagingList<NGOWebApp.Models.Account>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}

<h1>Account List</h1>
<br />
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Id)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Address)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.RoleId)
            </th>

            <th>Delete</th>

            <th>Update</th>

            <th>Reset Password</th>


        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.Id)</td>
                <td>@Html.DisplayFor(i => item.FullName)</td>
                <td>@Html.DisplayFor(i => item.Email)</td>
                <td>@Html.DisplayFor(i => item.Phone)</td>
                <td>@Html.DisplayFor(i => item.Address)</td>
                <td>@Html.DisplayFor(i => item.Birthday)</td>
                <td>@Html.DisplayFor(i => item.RoleId)</td>
                <td>
                    <a asp-action="DeleteAccount" asp-controller="MAccount" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
                </td>
                <td>
                    <a asp-action="UpdateAccount" asp-controller="MAccount" asp-route-id="@item.Id">Update</a>
                </td>
                <td>
                    <a asp-action="ResetPass" asp-controller="MAccount" asp-route-id="@item.Id">Reset</a>
                </td>
            </tr>
        }

    </thead>
</table>


<nav>
    <vc:pager paging-list="@Model" />
</nav>

