@model NGOWebApp.Models.Programs

@{
    ViewData["Title"] = "Details";
}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Details Campaign</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Event</a>
                <a href="">Details</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="causes">
    <div class="container">
        <div>
            <dl class="row">
                <dd class="col-sm-12">
                    <h2>@Html.DisplayFor(model => model.ShortContent)</h2>

                </dd>
                <dd class="col-sm-12">
                    @Html.Raw(Model.Content)
                </dd>           
            </dl>
            <div class="row">
                <div class="col-sm-6">
                    <dl class="row">
                        <dt class="col-sm-2">
                            Expected Amount
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ExpectedAmount) $
                        </dd>
                        <dt class="col-sm-2">
                            Partner
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.GetPartner.OrgName)
                        </dd>
                        <dt class="col-sm-2">
                            Date Start
                        </dt>
                        <dd class="col-sm-10">
                            @Model.CreatedAt.ToString("dd MMM yyy")
                        </dd>
                        <dt class="col-sm-2">
                            Date End
                        </dt>
                        <dd class="col-sm-10">
                            @Model.Duration.ToString("dd MMM yyy")
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-10">
                            @if (Model.Status == 1)
                            {
                                <span class="badge badge-pill badge-primary">Call for Donations</span>
                            }
                            else if (Model.Status == 2)
                            {
                                <span class="badge badge-pill badge-warning">Donation has been completed</span>
                            }
                            else
                            {
                                <span class="badge badge-pill badge-success">Completed Campaign</span>
                            }
                        </dd>
                    </dl>
                    
                </div>
                <div class="col-sm-6">
                    @if (Model.Status == 1)
                    {
                        <a class="btn btn-custom" asp-action="DonateToProgram" asp-controller="Donate" asp-route-programId="@Model.Id">Donate Now</a>
                    }
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

