@model IEnumerable<NGOWebApp.Models.Donate>
@{
    TempData["Title"] = "Transaction";
}
<link href="~/css/User/userprofile.css" rel="stylesheet" />
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
    <div class="row profile">
        @await Html.PartialAsync("~/Areas/User/Views/Shared/_UserProfile.cshtml")
        <div class="col-md-9">
            <div class="profile-content">
                <table id="table-datatables" class="table">
                    <thead>
                        <tr>
                            <th>
                                Cause
                            </th>
                            <th>
                                Partner
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Campaign
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Donate date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.GetDonateCategory.Name

                                </td>
                                <td>
                                    @item.GetPartner.OrgName
                                </td>
                                <td>
                                    @item.Amount
                                </td>
                                <td>
                                    @if (item.GetPrograms == null)
                                    {
                                        <span></span>
                                    }
                                    else
                                    {
                                        <a href="/user/event/details/@item.ProgramId">@item.GetPrograms.ShortContent</a>
                                    }
                                </td>
                                <td>
                                    @if (item.GetPrograms == null)
                                    {
                                        <span></span>
                                    }
                                    else if (item.GetPrograms.Status == 1)
                                    {
                                        <span class="badge badge-pill badge-primary">Calling</span>
                                    }
                                    else if (item.GetPrograms.Status == 2)
                                    {
                                        <span class="badge badge-pill badge-warning">Completed</span>
                                    }
                                    else if (item.GetPrograms.Status == 3)
                                    {
                                        <span class="badge badge-pill badge-success">End program</span>
                                    }
                                </td>
                                <td>
                                    @item.CreatedAt.ToString("dd MMM yyy")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table-datatables').DataTable({
                "order": [[5, "desc"]]
            });
        })
    </script>

}